[user]
	email = gyunseo.lee@gmail.com 
	name = Gyunseo Lee
	signingKey = ""
[init]
	defaultBranch = main
[core]
	editor = nvim
	autocrlf = input
[gpg]
	format = openpgp
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[gpg "ssh"]
	program = ssh-keygen
	allowedSignersFile = ""
[alias]
	st = status
	lg = log --all --decorate --graph --oneline
